<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TackScreenShot.MyTest"/>
      <class name="ActionClass.ActionClassTest"/>
      <class name="hadelesBrawoser.HeadLessBrawoser"/>
      <class name="SeleniumPracticeJava.SeleniumPracticeJava.SeleniumAlert"/>
      <class name="SeleniumPracticeJava.SeleniumPracticeJava.DragAndDropExamples"/>
      <class name="DateAndTimePickerLogic.DateTimePickerTest"/>
      <class name="DateAndTimePickerLogic.mkmytripdropdown"/>
      <class name="SeleniumPracticeJava.SeleniumPracticeJava.AddandRemoveElement"/>
      <class name="ExcelReader.GoogleTest"/>
      <class name="DateAndTimePickerLogic.JavasCripDropDawon"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
